# Facebook/Instagram API Credentials
FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET=
# The Instagram Business Account ID (can be fetched dynamically, but useful to have as fallback)
INSTAGRAM_BUSINESS_ID=
# Session Secret
SESSION_SECRET=
